<div class="container" id="home-container">
  <div class="jumbotron text-center text-light">
    <h1 class="display-4"><strong>BLEACHER BLOG</strong></h1>
    <p class="lead"><strong>This is a simple blog app I created.</strong></p>
    <hr class="my-4">
    <p><strong>Sign up to use.</strong></p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
