<div id="page-content">


  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is a simple blog app I created.</p>
      <hr class="my-4">
      <p>Learn more about us.</p>
      <a class="btn btn-success btn-lg" <%= link_to 'Sign Up!', about_path %></a>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; TGDesign.com</small>
    </div>
  </footer>
