<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">This is a simple blog app I created.</p>
    <hr class="my-4">
    <p>Learn more about us.</p>
    <%= link_to "sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
